<div class="box box-2">
    <form [formGroup]="form">
        <div class="form">
            <div>
                <p id="add"><b>ADD NEW PRODUCT</b></p>
            </div>
            <div class="txt">
                <div><input class="input-field" type="text" name="pName" formControlName="pName" placeholder="">
                </div>
            </div>
            <div class="num">
                <div><input class="input-field" type="number" min="1" max="10" name="pQuantity"
                        formControlName="pQuantity" placeholder=""></div>
            </div>
            <div class="choose-file">
                <input type="file" formControlName="pImage" accept=".png, .jpg, .jpeg" (change)="fileSelect($event)">
            </div>
            <div>
                <input type="button" class="btn" value="Add Product" (click)="addProduct()">
            </div>
        </div>
    </form>
</div>